<h2>User form !!!</h2>
<form method="post" action="/users">

    <label for="username">Username</label>
    <input name="username" type="text">
    <label for="password">Password</label>
    <input name="password" type="password">
    <label for="email">Email</label>
    <input name="email" type="text">
    <button>Create user</button>
</form>